body {
    background-color: #f4f4f2;;
}
main {
    padding-right: 10%;
    padding-left: 10%;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3% 10%;
}
.logo-icon {
    height: 100%;
    direction: ltr;
    display: flex;
    align-items: center;
}
.logo-icon a {
    display: inline-flex;
    align-items: start;
    cursor: pointer;
    min-width: 235px;
    text-decoration: none;
    color: #262626;
}
.logo-icon svg {
    width: 20px;
    height: 28px;
    margin: 0px;
}
.logo-text {
    font-weight: 600;
    white-space: nowrap;
    margin: -3px 0 0 4px;
    font-size: 1.5rem;
}
.logo-icon .logo-text-hover {
    display: none;
}
.logo-icon:hover .logo-text-default {
    display: none;
}
.logo-icon:hover .logo-text-hover {
    display: block;
    color: rgb(51 147 223);
}
.signup svg {
    width: 36px; /* or other appropriate size */
    height: 36px;
  }
.searchbar-container {
    min-width: 650px;
    min-height: 45px;
    box-shadow: inset;
}
.searchbar {
    display: flex;
}
.searchbar button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 70px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(51 147 223);
}
.searchbar-container input{
    outline: none;
    border: none;
    margin-left: 0.5rem;
    font-size: 12px;
    background-color: white;
    width: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.notification-bell-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.bell-icon {
    fill: #707070; /* Color of the bell icon */
}

.notification-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

/* Hide the dropdown arrow added by Bootstrap */
.nav-item.dropdown .nav-link::after {
    display: none;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categories a {
    color: #262626;
    text-decoration: none;
}
.weather {
    display: flex;
    flex-direction: row;
}
.newsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.carousel {
    min-width: 65%;
    max-width: 65%;
}
.carousel-inner {
    border-radius: 1%;
    max-height: 100%;
    object-fit: contain;
}
.smallerNews {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.smallerNewItems {
    position: relative;
    max-width: 90%;
}
.smallerNewItems img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}
.Title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}
.searchHeader{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.searchCategories{
    padding-bottom: 2rem ;
}
.searchNewsItems {
    position: relative;
    max-width: 50%;
}
.searchNewsItems img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}
.searchNewsItems p {
    margin-bottom: 5px;
}
.searchText {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.301);
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
}
.sourceNHours {
    display: flex;
    flex-direction: row;
}
 .login {
    display: flex;
    margin: auto !important;
    margin-top: 2rem;
}