body {
    background-color: #f4f4f2;;
}
main {
    padding-right: 10%;
    padding-left: 10%;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3% 10%;
}
.logo-icon {
    height: 100%;
    direction: ltr;
    display: flex;
    align-items: center;
}
.logo-icon a {
    display: inline-flex;
    align-items: start;
    cursor: pointer;
    min-width: 235px;
    text-decoration: none;
    color: #262626;
}
.logo-icon svg {
    width: 20px;
    height: 28px;
    margin: 0px;
}
.logo-text {
    font-weight: 600;
    white-space: nowrap;
    margin: -3px 0 0 4px;
    font-size: 1.5rem;
}
.logo-icon .logo-text-hover {
    display: none;
}
.logo-icon:hover .logo-text-default {
    display: none;
}
.logo-icon:hover .logo-text-hover {
    display: block;
    color: rgb(51 147 223);
}
.signup svg {
    width: 36px; /* or other appropriate size */
    height: 36px;
}
.searchbar-container {
    min-width: 650px;
    min-height: 45px;
    box-shadow: inset;
}
.searchbar {
    display: flex;
}
.searchbar button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 70px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(51 147 223);
}
.searchbar-container input{
    outline: none;
    border: none;
    margin-left: 0.5rem;
    font-size: 12px;
    background-color: white;
    width: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.notification-bell-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.bell-icon {
    fill: #707070; /* Color of the bell icon */
}

.notification-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}

/* Hide the dropdown arrow added by Bootstrap */
.nav-item.dropdown .nav-link::after {
    display: none;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categories a {
    color: #262626;
    text-decoration: none;
}
.weather {
    display: flex;
    flex-direction: row;
}
.weatherMobile {
    display: none;
}
.carousel {
    min-width: 65%;
    max-width: 65%;
}
.carousel-inner {
    border-radius: 1%;
    max-height: 100%;
    object-fit: contain;
}
.mobile {
    display: none;
}
.smallerNews {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.smallerNewItems {
    position: relative;
    max-width: 90%;
}
.smallerNewItems img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}
.Title {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}
.searchHeader{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.searchCategories{
    padding-bottom: 2rem ;
}
.searchNewsItems {
    position: relative;
    width: 375px; 
    height: 250px;     
    padding: 10px;
}
.searchNewsItems img {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 1%;
}
.searchNewsItems p {
    margin-bottom: 5px;
}
.searchText {
    position: absolute;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.501);
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0 10px 0 10px;
}
.sourceNHours {
    display: flex;
    flex-direction: row;
}
.login {
    display: flex;
    margin: auto !important;
    margin-top: 2rem;
}
.newsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.dteailButtonContainer {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.detailbtn {
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    outline: 1px solid grey;
    border-radius: 10px;
}
.padding-bottom {
    padding-bottom: 2rem;
}
.dropdown-menu {
    width: 300px;
}

/* Style for the news items inside the dropdown */
.dropdown-item {
    white-space: normal; /* Allow news titles to wrap to multiple lines */
    word-wrap: break-word;
}
.horizontal {
    display: flex;
    flex-direction: row;
}


/* Mobile view */
@media screen and (max-width: 576px) { 
    main {
        padding-right: 5%;
        padding-left: 5%;
    }
    .navbar {
        padding: 3% 5%;
    }
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 10px 0 10px;
        flex-wrap: wrap;    
    }
    .categories a {
        margin-right: 1rem;
    }
    .carousel {
        padding-top: 2rem;
        max-width: 100%;
    }
    .newsContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .newsContent p {
        padding-top: 1rem;
    }
    
    .dteailButtonContainer {
        display: flex;
        flex-direction: row;
        padding-right: 0;
        padding-top: 0.25rem;
        padding-bottom: 1rem;
        justify-content: space-between;
        width: 70%;
    }
    .smallerNews {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
    }
    .mobile {
        display: flex;
    }
    .mobile h7 {
        font-weight: 700;
    }
    .weather {
        display: none;
    }
    .weatherMobile {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    .searchNewsItems {
        position: relative;
        max-width: 70%;
    }
    .searchNewsItems img {
        width: 100%;
        height: auto;
        border-radius: 1%;
    }
    .searchNewsItems p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .searchNewsItems h5 {
        font-size: 16px;
    }
    .searchCategories h5 {
        display: none;
    }
    .searchCategories {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 2rem;
    }
    .horizontal {
        display: flex;
        flex-direction: column;
    }
    
    
}